<%= form_for( [@recipe, @comment] ) do |f|  %>

<%= render 'layouts/errors', object: @comment  %>

<div class="form-group">
    <%= f.label :Nome %>:
    <%= f.text_field :name , class:"form-control" %>
</div>

<div class="form-group">
    <%= f.label :Estrelas %>:
    <%= f.select :rating, Comment::RATING, prompt:'Escolha a quantidade de estrelas', class:"form-control" %>
</div>

<div class="form-group">
    <%= f.label :Comentário %>:
    <%= f.text_area :comment, cols:20, rows:5 , class:"form-control"  %>
</div>

<div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Cancalar", root_path, class: 'btn btn-default'  %>
</div>

<% end %>