<%= form_for( @recipe ) do |f| %>

<p>
    <%= f.label :Nome %>:
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :Ingredientes %>:
    <%= f.text_area :stuff, cols:20, rows:5 %>
</p>

<p>
    <%= f.label :Tipo %>:
    <%= f.text_field :kind %>
</p>

<p>
    <%= f.label :Calorias %>:
    <%= f.number_field :calories %>
</p>

<p>
    <%= f.label :Mode_de_preparo %>:
    <%= f.text_area :prepare_mode, cols:20, rows:5  %>
</p>

<p>
    <%= f.label :Tempo_de_Preparo %>:
    <%= f.time_select :duration %>
</p>

<p>
    <%= f.label :Porções %>:
    <%= f.text_field :portion %>
</p>

<p>
    <%= f.label :Custo %>:
    <%= f.number_field :cost  %>
</p>

<p>
    <%= f.label :Poster %>:
    <%= f.text_field :poster  %>
    <%
=begin%>
 <%= f.file_field :poster, placeholder: ".GIF, .JPEG ou .PNG" %> 
<%
=end%>
</p>

<p>
    <%= f.submit %>
    <%= link_to "Cancalar", root_path %>
</p>



<% end %>