<h1>Receitas saborosas</h1>

<%
=begin%>
 <p><%= @variavel %></p> 
<%
=end%>
<p><%= pluralize(@recipes.size, "Receita encontrada", "Receitas encontradas") %> </p>


<ul>
    <% @recipes.each do |recipe| %>
        <article>
            <header>
                <h2> <%= link_to recipe.name, recipe %> </h2>
            </header>
            <p>
                <%= truncate(recipe.stuff, length:5, separator: ' ') %>
            </p>
            <p>
                <%= formata_caloria(recipe) %>
            </p>
            <p>
                <%= recipe.prepare_mode %>
            </p>
            <p>
                <%= number_to_currency(recipe.cost) %>
            </p>
        </article>
        
        
    <%end %>
</ul>