<h1>Receitas saborosas</h1>

<p><%= @variavel %></p>


<ul>
    <% @recipes.each do |recipe| %>
        <article>
            <header>
                <h2><%= recipe.name %></h2>
            </header>
            <p>
                <%= recipe.stuff %>
            </p>
            <p>
                <%= recipe.calories %>
            </p>
            <p>
                <%= recipe.prepare_mode %>
            </p>
            <p>
                <%= number_to_currency(recipe.cost) %>
            </p>
        </article>
        
        
    <%end %>
</ul>