<h1>Show Receita</h1>


<p> <%= @message %> </p>


<article>
    <header>
        <h2><%= @recipe.name %></h2>
    </header>
    <p>
       <%=  @recipe.stuff %>
    </p>
    <p>
        <%= formata_caloria(@recipe) %>
    </p>
    <p>
        <%= @recipe.prepare_mode %>
    </p>
    <p>
        <%= number_to_currency(@recipe.cost) %>
    </p>
</article>
        
<%= link_to "Retornar para receitas", recipes_path %>
<%= link_to "Editar", edit_recipe_path(@recipe) %>